/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;

  font-family: Arial, sans-serif;

  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}